In [1]:
# Configuratins related to Cassandra connector & Cluster
import os
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.datastax.spark:spark-cassandra-connector_2.11:2.3.2 --conf spark.cassandra.connection.host=127.0.0.1 pyspark-shell'

In [2]:
from pyspark import SparkContext
sc = SparkContext()

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession(sc)

# Import des fichiers grippe et météo depuis HDFS

## Import du fichier grippe

In [4]:
# File location and type
file_location = "hdfs://172.17.0.2:8020/user/cloudera/Projet_Grippe/incidence-REG-3.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","


# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

df.show()

+------+---------+----+-------+------+------+----------+---------+---------+--------------------+
|  week|indicator| inc|inc_low|inc_up|inc100|inc100_low|inc100_up|geo_insee|            geo_name|
+------+---------+----+-------+------+------+----------+---------+---------+--------------------+
|201847|        3| 706|      0|  1619|    37|         0|       85|       42|              ALSACE|
|201847|        3| 469|      0|  1220|    14|         0|       36|       72|           AQUITAINE|
|201847|        3|  79|      0|   234|     6|         0|       17|       83|            AUVERGNE|
|201847|        3| 420|      0|   942|    28|         0|       62|       25|     BASSE-NORMANDIE|
|201847|        3|   0|      0|     0|     0|         0|        0|       26|           BOURGOGNE|
|201847|        3| 863|      0|  1877|    25|         0|       55|       53|            BRETAGNE|
|201847|        3| 698|      1|  1395|    26|         0|       52|       24|              CENTRE|
|201847|        3| 211|      0|   516|    15|         0|       37|       21|   CHAMPAGNE-ARDENNE|
|201847|        3|  60|      0|   154|    18|         0|       46|       94|               CORSE|
|201847|        3|   0|      0|     0|     0|         0|        0|       43|       FRANCHE-COMTE|
|201847|        3| 229|      0|   577|    12|         0|       30|       23|     HAUTE-NORMANDIE|
|201847|        3| 814|     12|  1616|    29|         1|       57|       91|LANGUEDOC-ROUSSILLON|
|201847|        3|   0|      0|     0|     0|         0|        0|       74|            LIMOUSIN|
|201847|        3|1589|     75|  3103|    66|         3|      129|       41|            LORRAINE|
|201847|        3|  70|      0|   343|     2|         0|       11|       73|       MIDI-PYRENEES|
|201847|        3| 843|      0|  2045|    20|         0|       49|       31|  NORD-PAS-DE-CALAIS|
|201847|        3|1268|      0|  2828|    33|         0|       74|       52|    PAYS-DE-LA-LOIRE|
|201847|        3| 265|      0|   826|    13|         0|       41|       22|            PICARDIE|
|201847|        3|  71|      0|   410|     4|         0|       22|       54|    POITOU-CHARENTES|
|201847|        3|1503|      0|  3218|    30|         0|       64|       93|PROVENCE-ALPES-CO...|
+------+---------+----+-------+------+------+----------+---------+---------+--------------------+
only showing top 20 rows

In [5]:
permanent_table_name = "incidence_REG"

df.write.format("parquet").saveAsTable(permanent_table_name)

## Import données météo

In [6]:
# File location and type
file_location = "hdfs://172.17.0.2:8020/user/cloudera/Projet_Grippe/donnees-synop-essentielles-espaces.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ";"


# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

df = df.withColumnRenamed("ID OMM station", "id_station")

df.show()

+----------+--------------------+--------+---------------------+--------------------------+--------------+------------+-----------+-----------+--------+----------------------+-------------+--------------------+------------+-----------------+---------------------------------+-----------------------------------+---------------------------+-----------------------+---------------------------+----------------+-------------------+------------+----------------------+-------------------+-------------------+-------------------+-------------------+-----------------------+----------------------------------------------+-------------------------------+-----------------+---------------+---------------------+--------+--------------------+---------------------+----------------------------+-----------------------------+-------------------------------+-------------------------------+--------------------------------+--------------------------------+-----------------+-----------------+-----------------+-----------------+-------------------+----------+--------------+-------------------------+----------+--------------+-------------------------+----------+--------------+-------------------------+----------+--------------+--------------------+------------------+--------------------------+--------------------+------------+
|id_station|                Date|pression|Variation_pression_3h|Type_tendance_barometrique|Direction_vent|vitesse_vent|temperature|Point_rosee|humidite|Visibilite_horizontale|Temps_present|        Temps_passe1|Temps_passe2|Nebulosite_totale|Nebulosite_nuages_etage_inferieur|Hauteur_base_nuages_etage_inferieur|Type_nuages_etage_inferieur|Type_nuages_etage_moyen|Type_nuages_etage_superieur|Pression_station|Niveau_barometrique|Geopotentiel|Variation_pression_24h|Temperature_min_12h|Temperature_min_24h|Temperature_max_12h|Temperature_max_24h|Temperature_min_sol_12h|Methode_mesure_Temperature_thermometre_mouille|Temperature_thermometre_mouille|Rafale_10_minutes|Rafales_periode|Periode_mesure_rafale|Etat_sol|Hauteur_totale_neige|Hauteur_neige_fraiche|Periode_mesure_neige_fraiche|Precipitations_derniere_heure|Precipitations_3dernieresheures|Precipitations_6dernieresheures|Precipitations_12dernieresheures|Precipitations_24dernieresheures|Phenomenespecial1|Phenomenespecial2|Phenomenespecial3|Phenomenespecial4|Nebulositenuageuse1|Typenuage1|Hauteurdebase1|Nebulositecouchenuageuse2|Typenuage2|Hauteurdebase2|Nebulositecouchenuageuse3|Typenuage3|Hauteurdebase3|Nebulositecouchenuageuse4|Typenuage4|Hauteurdebase4|         Coordonnees|               Nom|Typedetendancebarometrique|         Tempspasse1|Tempspresent|
+----------+--------------------+--------+---------------------+--------------------------+--------------+------------+-----------+-----------+--------+----------------------+-------------+--------------------+------------+-----------------+---------------------------------+-----------------------------------+---------------------------+-----------------------+---------------------------+----------------+-------------------+------------+----------------------+-------------------+-------------------+-------------------+-------------------+-----------------------+----------------------------------------------+-------------------------------+-----------------+---------------+---------------------+--------+--------------------+---------------------+----------------------------+-----------------------------+-------------------------------+-------------------------------+--------------------------------+--------------------------------+-----------------+-----------------+-----------------+-----------------+-------------------+----------+--------------+-------------------------+----------+--------------+-------------------------+----------+--------------+-------------------------+----------+--------------+--------------------+------------------+--------------------------+--------------------+------------+
|      7168|2018-08-08 09:00:...|  101500|                  140|                         1|           240|         3.2|     295.35|     289.65|      70|                 20000|            0|                null|        null|             null|                                1|                                800|                       null|                   null|                       null|          100140|               null|        null|                   450|               null|               null|               null|               null|                 291.65|                                          null|                           null|              4.8|            7.3|                  -10|       0|                 0.0|                 null|                        null|                          0.0|                            0.0|                            0.0|                            10.2|                            10.2|             null|             null|             null|             null|                  1|      null|           900|                        3|      null|          1620|                     null|      null|          null|                     null|      null|          null|     48.324667, 4.02|   TROYES-BARBEREY|                         1|                null|           0|
|      7037|2018-08-08 12:00:...|  101490|                   70|                         1|           240|         4.7|     295.65|     285.55|      53|                 31760|            0|                null|        null|              100|                                3|                               1250|                       null|                   null|                       null|           99740|               null|        null|                   650|               null|               null|               null|               null|                 290.25|                                          null|                           null|              7.0|           10.4|                  -10|    null|                 0.0|                 null|                        null|                          0.0|                            0.0|                            0.0|                             0.0|                             4.2|             null|             null|             null|             null|                  3|      null|          1260|                        8|      null|          1680|                     null|      null|          null|                     null|      null|          null|    49.383, 1.181667|        ROUEN-BOOS|                         1|                null|           0|
|      7149|2018-08-08 12:00:...|  101480|                   10|                         0|           240|         4.4|     298.65|     284.75|      42|                 19450|            0|Nuages couvrant p...|           2|             null|                                3|                               1750|                       null|                   null|                       null|          100450|               null|        null|                   680|               null|               null|               null|               null|                   null|                                          null|                           null|              7.2|            9.1|                  -10|       0|                 0.0|                 null|                        null|                          0.0|                            0.0|                            0.0|                            -0.1|                            -0.1|             null|             null|             null|             null|                  3|      null|          1740|                     null|      null|          null|                     null|      null|          null|                     null|      null|          null| 48.716833, 2.384333|              ORLY|                         0|Nuages couvrant p...|           0|
|      7299|2018-08-08 12:00:...|  101380|                    0|                         0|           270|         3.7|     301.85|     290.05|      49|                 30000|           15|Nuages couvrant p...|           2|               90|                                3|                               1250|                         39|                     28|                         12|           98330|               null|        null|                   300|               null|               null|               null|               null|                 292.65|                                          null|                           null|              5.5|            8.2|                  -10|       0|                 0.0|                  0.0|                         -60|                          0.0|                            0.0|                            0.0|                             0.2|                             0.2|             null|             null|             null|             null|                  2|         8|          1400|                        2|         3|          2200|                        5|         0|          6500|                        1|         9|          1300|     47.614333, 7.51|     BALE-MULHOUSE|                         0|Nuages couvrant p...|          15|
|      7630|2018-08-08 12:00:...|  101400|                 -130|                         8|            40|         2.2|     300.75|     289.05|      49|                 26040|            0|                null|        null|             null|                                5|                               1250|                       null|                   null|                       null|           99700|               null|        null|                   250|               null|               null|               null|               null|                 291.85|                                          null|                           null|              4.5|            5.6|                  -10|       0|                 0.0|                 null|                        null|                          0.0|                            0.0|                            0.0|                             0.0|                            -0.1|             null|             null|             null|             null|                  5|      null|          1230|                     null|      null|          null|                     null|      null|          null|                     null|      null|          null|    43.621, 1.378833|  TOULOUSE-BLAGNAC|                         8|                null|           0|
|     78890|2018-08-08 12:00:...|  101780|                 null|                         1|            80|         6.3|     302.25|     296.45|      71|                  null|         null|                null|        null|             null|                             null|                               null|                       null|                   null|                       null|          101460|               null|        null|                   -80|               null|             299.95|               null|             304.55|                   null|                                          null|                           null|             null|           null|                 null|    null|                null|                 null|                        null|                          0.0|                            0.0|                            0.0|                             0.0|                             0.0|             null|             null|             null|             null|               null|      null|          null|                     null|      null|          null|                     null|      null|          null|                     null|      null|          null|     16.335, -61.004| LA DESIRADE METEO|                         1|                null|        null|
|      7240|2018-08-08 15:00:...|  101380|                 -130|                         7|           250|         4.0|     298.65|     285.45|      44|                 37580|            0|                null|        null|              100|                                8|                               1750|                       null|                   null|                       null|          100100|               null|        null|                   550|               null|               null|               null|               null|                 292.75|                                          null|                           null|              7.7|            9.3|                  -10|       0|                 0.0|                 null|                        null|                          0.0|                            0.0|                            0.0|                            -0.1|                            -0.1|             null|             null|             null|             null|                  5|      null|          1620|                        8|      null|          1920|                     null|      null|          null|                     null|      null|          null|   47.4445, 0.727333|             TOURS|                         7|                null|           0|
|      7535|2018-08-08 15:00:...|  101150|                 -230|                         8|           350|         2.3|     303.65|     288.15|      39|                 20000|            0|                null|        null|             null|                                0|                               null|                       null|                   null|                       null|           98250|               null|        null|                   100|               null|               null|               null|               null|                 292.95|                                          null|                           null|              4.3|            4.9|                  -10|       0|                 0.0|                 null|                        null|                          0.0|                            0.0|                            0.0|                             0.0|                            -0.1|             null|             null|             null|             null|               null|      null|          null|                     null|      null|          null|                     null|      null|          null|                     null|      null|          null|    44.745, 1.396667|           GOURDON|                         8|                null|           0|
|     78897|2018-08-08 15:00:...|  101810|                  -10|                         0|            50|         5.9|     304.05|     295.95|      62|                 28410|         null|                null|        null|             null|                             null|                               null|                       null|                   null|                       null|          101720|               null|        null|                   -50|               null|               null|               null|               null|                   null|                                          null|                           null|             null|           null|                 null|    null|                null|                 null|                        null|                          0.0|                            0.0|                            0.0|                             0.0|                             0.0|             null|             null|             null|             null|               null|      null|          null|                     null|      null|          null|                     null|      null|          null|                     null|      null|          null|  16.264, -61.516333|    LE RAIZET AERO|                         0|                null|        null|
|      7222|2018-08-08 18:00:...|  101300|                  -90|                         6|           270|         3.8|     295.95|     285.55|      52|                 59250|            0|                null|        null|             null|                                0|                               null|                       null|                   null|                       null|          101000|               null|        null|                   370|             289.95|               null|             299.05|               null|                 290.65|                                          null|                           null|              6.0|            6.9|                  -10|       0|                 0.0|                 null|                        null|                          0.0|                            0.0|                            0.0|                             0.0|                             0.0|             null|             null|             null|             null|               null|      null|          null|                     null|      null|          null|                     null|      null|          null|                     null|      null|          null|    47.15, -1.608833| NANTES-BOUGUENAIS|                         6|                null|           0|
|     81408|2018-08-08 18:00:...|  101280|                 null|                         6|           100|         3.7|     305.05|     294.55|      54|                  null|         null|                null|        null|             null|                             null|                               null|                       null|                   null|                       null|          101200|               null|        null|                    40|               null|             295.45|               null|             306.25|                   null|                                          null|                           null|             null|           null|                 null|    null|                null|                 null|                        null|                          0.0|                            0.0|                            0.0|                             0.0|                             0.0|             null|             null|             null|             null|               null|      null|          null|                     null|      null|          null|                     null|      null|          null|                     null|      null|          null|3.890667, -51.804667|     SAINT GEORGES|                         6|                null|        null|
|      7037|2018-08-08 21:00:...|  101490|                  100|                         2|            30|         3.7|     290.75|     285.65|      72|                 60000|            0|                null|        null|              100|                                8|                               2250|                       null|                   null|                       null|           99710|               null|        null|                   690|               null|               null|               null|               null|                 292.05|                                          null|                           null|              4.9|            6.3|                  -10|    null|                 0.0|                 null|                        null|                          0.0|                            0.0|                            0.0|                             0.0|                             0.0|             null|             null|             null|             null|                  8|      null|          2100|                     null|      null|          null|                     null|      null|          null|                     null|      null|          null|    49.383, 1.181667|        ROUEN-BOOS|                         2|                null|           0|

In [7]:
permanent_table_name = "meteo"

df.write.format("parquet").saveAsTable(permanent_table_name)

In [8]:
print(spark.catalog.listTables())

[Table(name='incidence_reg', database='default', description=None, tableType='MANAGED', isTemporary=False), Table(name='meteo', database='default', description=None, tableType='MANAGED', isTemporary=False)]

# Requêtes sur les tables

In [9]:
df_meteo = spark.sql("SELECT id_station, Date, pression, vitesse_vent, temperature, humidite FROM meteo WHERE id_station='07149'")
df_meteo.show()

+----------+--------------------+--------+------------+-----------+--------+
|id_station|                Date|pression|vitesse_vent|temperature|humidite|
+----------+--------------------+--------+------------+-----------+--------+
|      7149|2015-02-03 15:00:...|  100540|         3.6|     275.75|      53|
|      7149|2017-10-30 12:00:...|  102900|         4.8|     285.15|      57|
|      7149|2017-11-05 21:00:...|  102040|         1.9|     278.25|      92|
|      7149|2018-01-18 18:00:...|  100770|         4.0|     281.45|      82|
|      7149|2018-01-19 21:00:...|  101540|         5.9|     276.95|      84|
|      7149|2018-01-24 15:00:...|  101590|         9.7|     285.95|      68|
|      7149|2018-01-21 18:00:...|  101370|         1.6|     280.75|      98|
|      7149|2010-11-22 15:00:...|  100550|         4.1|     277.95|      78|
|      7149|2016-10-02 12:00:...|  101750|         4.8|     290.15|      57|
|      7149|2018-01-05 12:00:...|  100060|         5.1|     283.15|      82|
|      7149|2018-01-05 15:00:...|  100060|         5.5|     283.45|      79|
|      7149|2013-04-27 18:00:...|  101190|         4.6|     282.85|      50|
|      7149|2013-04-26 00:00:...|  101640|         0.5|     288.15|      70|
|      7149|2017-06-10 18:00:...|  101870|         3.2|     298.75|      39|
|      7149|2017-06-16 00:00:...|  102140|         2.6|     290.45|      70|
|      7149|2014-08-21 18:00:...|  101620|         2.6|     292.35|      42|
|      7149|2014-08-21 21:00:...|  101670|         1.0|     286.05|      67|
|      7149|2015-02-27 00:00:...|  101300|         5.6|     280.35|      82|
|      7149|2015-02-24 18:00:...|  101640|         2.3|     278.25|      83|
|      7149|2010-06-21 18:00:...|  102300|         4.1|     290.35|      56|
+----------+--------------------+--------+------------+-----------+--------+
only showing top 20 rows

In [10]:
#Formatage date du df_meteo
import pyspark.sql.functions as f
#from pyspark.sql.functions import to_timestamp


#Création colonne date et time
split_col_1 = f.split(df_meteo['Date'], 'T')
df_meteo = df_meteo.withColumn('f_Date', split_col_1.getItem(0))

split_col_2 = f.split(df_meteo['f_Date'], ' ')
df_meteo = df_meteo.withColumn('ff_Date', split_col_2.getItem(0))
df_meteo = df_meteo.withColumn('time', split_col_2.getItem(1))


#Selection des colonnes
df_meteo=df_meteo.select(df_meteo.ff_Date.alias("date"), "time" , "temperature", 'humidite', 'pression' , 'vitesse_vent')

df_meteo.show()

+----------+--------+-----------+--------+--------+------------+
|      date|    time|temperature|humidite|pression|vitesse_vent|
+----------+--------+-----------+--------+--------+------------+
|2015-02-03|15:00:00|     275.75|      53|  100540|         3.6|
|2017-10-30|12:00:00|     285.15|      57|  102900|         4.8|
|2017-11-05|21:00:00|     278.25|      92|  102040|         1.9|
|2018-01-18|18:00:00|     281.45|      82|  100770|         4.0|
|2018-01-19|21:00:00|     276.95|      84|  101540|         5.9|
|2018-01-24|15:00:00|     285.95|      68|  101590|         9.7|
|2018-01-21|18:00:00|     280.75|      98|  101370|         1.6|
|2010-11-22|15:00:00|     277.95|      78|  100550|         4.1|
|2016-10-02|12:00:00|     290.15|      57|  101750|         4.8|
|2018-01-05|12:00:00|     283.15|      82|  100060|         5.1|
|2018-01-05|15:00:00|     283.45|      79|  100060|         5.5|
|2013-04-27|18:00:00|     282.85|      50|  101190|         4.6|
|2013-04-26|00:00:00|     288.15|      70|  101640|         0.5|
|2017-06-10|18:00:00|     298.75|      39|  101870|         3.2|
|2017-06-16|00:00:00|     290.45|      70|  102140|         2.6|
|2014-08-21|18:00:00|     292.35|      42|  101620|         2.6|
|2014-08-21|21:00:00|     286.05|      67|  101670|         1.0|
|2015-02-27|00:00:00|     280.35|      82|  101300|         5.6|
|2015-02-24|18:00:00|     278.25|      83|  101640|         2.3|
|2010-06-21|18:00:00|     290.35|      56|  102300|         4.1|
+----------+--------+-----------+--------+--------+------------+
only showing top 20 rows

In [11]:
df_meteo.count()

25681

In [12]:
import datetime
from pyspark.sql.types import *

#Creation colonne year, month et day_month
split_col_3 = f.split(df_meteo['date'], '-')
df_meteo=df_meteo.withColumn("year_m", split_col_3.getItem(0))
df_meteo=df_meteo.withColumn("month", split_col_3.getItem(1))
df_meteo=df_meteo.withColumn("day_month", split_col_3.getItem(2))

#Cast en integer
df_meteo = df_meteo.withColumn("year_m", df_meteo["year_m"].cast("integer"))
df_meteo = df_meteo.withColumn("month", df_meteo["month"].cast("integer"))
df_meteo = df_meteo.withColumn("day_month", df_meteo["day_month"].cast("integer"))

#Creation colonne isoweek
def date_to_isoweek(iso_year, iso_week, iso_day):
    res = datetime.date(iso_year,iso_week,iso_day).isocalendar()[1]
    return res  

udf_isoweek = f.udf(date_to_isoweek, IntegerType())
df_meteo = df_meteo.withColumn('isoweek_m', udf_isoweek(df_meteo.year_m,df_meteo.month,df_meteo.day_month))

df_meteo.show()

+----------+--------+-----------+--------+--------+------------+------+-----+---------+---------+
|      date|    time|temperature|humidite|pression|vitesse_vent|year_m|month|day_month|isoweek_m|
+----------+--------+-----------+--------+--------+------------+------+-----+---------+---------+
|2015-02-03|15:00:00|     275.75|      53|  100540|         3.6|  2015|    2|        3|        6|
|2017-10-30|12:00:00|     285.15|      57|  102900|         4.8|  2017|   10|       30|       44|
|2017-11-05|21:00:00|     278.25|      92|  102040|         1.9|  2017|   11|        5|       44|
|2018-01-18|18:00:00|     281.45|      82|  100770|         4.0|  2018|    1|       18|        3|
|2018-01-19|21:00:00|     276.95|      84|  101540|         5.9|  2018|    1|       19|        3|
|2018-01-24|15:00:00|     285.95|      68|  101590|         9.7|  2018|    1|       24|        4|
|2018-01-21|18:00:00|     280.75|      98|  101370|         1.6|  2018|    1|       21|        3|
|2010-11-22|15:00:00|     277.95|      78|  100550|         4.1|  2010|   11|       22|       47|
|2016-10-02|12:00:00|     290.15|      57|  101750|         4.8|  2016|   10|        2|       39|
|2018-01-05|12:00:00|     283.15|      82|  100060|         5.1|  2018|    1|        5|        1|
|2018-01-05|15:00:00|     283.45|      79|  100060|         5.5|  2018|    1|        5|        1|
|2013-04-27|18:00:00|     282.85|      50|  101190|         4.6|  2013|    4|       27|       17|
|2013-04-26|00:00:00|     288.15|      70|  101640|         0.5|  2013|    4|       26|       17|
|2017-06-10|18:00:00|     298.75|      39|  101870|         3.2|  2017|    6|       10|       23|
|2017-06-16|00:00:00|     290.45|      70|  102140|         2.6|  2017|    6|       16|       24|
|2014-08-21|18:00:00|     292.35|      42|  101620|         2.6|  2014|    8|       21|       34|
|2014-08-21|21:00:00|     286.05|      67|  101670|         1.0|  2014|    8|       21|       34|
|2015-02-27|00:00:00|     280.35|      82|  101300|         5.6|  2015|    2|       27|        9|
|2015-02-24|18:00:00|     278.25|      83|  101640|         2.3|  2015|    2|       24|        9|
|2010-06-21|18:00:00|     290.35|      56|  102300|         4.1|  2010|    6|       21|       25|
+----------+--------+-----------+--------+--------+------------+------+-----+---------+---------+
only showing top 20 rows

In [13]:
df_meteo=df_meteo.select("year_m", "isoweek_m", "time" , "temperature", 'humidite', 'pression' , 'vitesse_vent')
df_meteo.count()

25681

In [14]:
df_meteo.show()

+------+---------+--------+-----------+--------+--------+------------+
|year_m|isoweek_m|    time|temperature|humidite|pression|vitesse_vent|
+------+---------+--------+-----------+--------+--------+------------+
|  2015|        6|15:00:00|     275.75|      53|  100540|         3.6|
|  2017|       44|12:00:00|     285.15|      57|  102900|         4.8|
|  2017|       44|21:00:00|     278.25|      92|  102040|         1.9|
|  2018|        3|18:00:00|     281.45|      82|  100770|         4.0|
|  2018|        3|21:00:00|     276.95|      84|  101540|         5.9|
|  2018|        4|15:00:00|     285.95|      68|  101590|         9.7|
|  2018|        3|18:00:00|     280.75|      98|  101370|         1.6|
|  2010|       47|15:00:00|     277.95|      78|  100550|         4.1|
|  2016|       39|12:00:00|     290.15|      57|  101750|         4.8|
|  2018|        1|12:00:00|     283.15|      82|  100060|         5.1|
|  2018|        1|15:00:00|     283.45|      79|  100060|         5.5|
|  2013|       17|18:00:00|     282.85|      50|  101190|         4.6|
|  2013|       17|00:00:00|     288.15|      70|  101640|         0.5|
|  2017|       23|18:00:00|     298.75|      39|  101870|         3.2|
|  2017|       24|00:00:00|     290.45|      70|  102140|         2.6|
|  2014|       34|18:00:00|     292.35|      42|  101620|         2.6|
|  2014|       34|21:00:00|     286.05|      67|  101670|         1.0|
|  2015|        9|00:00:00|     280.35|      82|  101300|         5.6|
|  2015|        9|18:00:00|     278.25|      83|  101640|         2.3|
|  2010|       25|18:00:00|     290.35|      56|  102300|         4.1|
+------+---------+--------+-----------+--------+--------+------------+
only showing top 20 rows

In [15]:
#Formatage temperature et pression
df_meteo = df_meteo.withColumn('temperature', f.round(df_meteo.temperature - float(273.15),0))
df_meteo = df_meteo.withColumn("pression", df_meteo["pression"].cast("integer"))
df_meteo.count()

25681

In [16]:
#Filtrage des horaires. 12H00 retenu uniquement (hypothèse)
df_meteo = df_meteo.filter("Time == '12:00:00' ")

In [17]:
df_meteo.count()

3212

In [18]:
#GroupBy(isoweek et year), moyenne des temperature, humidité, pression et vitesse_vent
df_meteo_final = df_meteo.groupBy("year_m", "isoweek_m").mean()
df_meteo_final = df_meteo_final.select("year_m", "isoweek_m", "avg(temperature)" , "avg(humidite)", "avg(pression)", "avg(vitesse_vent)")

#Renommer les colonnes
df_meteo_final = df_meteo_final.withColumnRenamed("avg(temperature)", "avg_temperature")
df_meteo_final = df_meteo_final.withColumnRenamed("avg(humidite)", "avg_humidite")
df_meteo_final = df_meteo_final.withColumnRenamed("avg(pression)", "avg_pression")
df_meteo_final = df_meteo_final.withColumnRenamed("avg(vitesse_vent)", "avg_vitesse_vent")

df_meteo_final.show()

+------+---------+------------------+------------------+------------------+------------------+
|year_m|isoweek_m|   avg_temperature|      avg_humidite|      avg_pression|  avg_vitesse_vent|
+------+---------+------------------+------------------+------------------+------------------+
|  2018|       22|22.714285714285715| 62.57142857142857|101665.71428571429| 2.828571428571429|
|  2012|       39|              16.0|63.142857142857146|100922.85714285714| 5.871428571428572|
|  2012|       24|17.571428571428573| 66.28571428571429|101374.28571428571|               4.8|
|  2015|       19|16.857142857142858| 58.57142857142857|101592.85714285714|               5.1|
|  2011|       42|12.714285714285714| 65.57142857142857|102084.28571428571| 3.757142857142857|
|  2014|       23|20.714285714285715|60.142857142857146|101388.57142857143|3.0142857142857147|
|  2016|       24|17.714285714285715|              69.0|100925.71428571429| 3.942857142857143|
|  2012|       10| 9.428571428571429| 66.14285714285714|103107.14285714286| 4.171428571428572|
|  2018|       38|              22.0|57.142857142857146|101751.42857142857| 6.357142857142857|
|  2017|       20|21.142857142857142|48.857142857142854|102042.85714285714|               3.6|
|  2011|       32|20.571428571428573|58.285714285714285|101605.71428571429|               5.2|
|  2018|       14|15.285714285714286|54.285714285714285|100717.14285714286|               5.1|
|  2012|       49| 4.714285714285714| 85.28571428571429|          101360.0| 3.585714285714286|
|  2017|       38|17.857142857142858|60.285714285714285|102072.85714285714|               2.6|
|  2016|       33|24.142857142857142| 55.57142857142857|101454.28571428571| 4.657142857142857|
|  2010|       12|              13.0| 72.57142857142857|101178.57142857143|3.8857142857142857|
|  2014|       50| 6.571428571428571| 87.57142857142857|101781.42857142857| 3.957142857142857|
|  2016|       14|13.142857142857142|57.142857142857146|100998.57142857143| 5.928571428571429|
|  2010|        7| 4.285714285714286| 78.42857142857143| 99924.28571428571|3.8142857142857136|
|  2010|       28|22.142857142857142|60.142857142857146|101607.14285714286| 5.357142857142857|
+------+---------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [19]:
#Cast to integer
df_meteo_final = df_meteo_final.withColumn("avg_temperature", df_meteo_final["avg_temperature"].cast("integer"))
df_meteo_final = df_meteo_final.withColumn("avg_humidite", df_meteo_final["avg_humidite"].cast("integer"))
df_meteo_final = df_meteo_final.withColumn("avg_pression", df_meteo_final["avg_pression"].cast("integer"))
df_meteo_final = df_meteo_final.withColumn("avg_vitesse_vent", df_meteo_final["avg_vitesse_vent"].cast("integer"))

df_meteo_final.show()

+------+---------+---------------+------------+------------+----------------+
|year_m|isoweek_m|avg_temperature|avg_humidite|avg_pression|avg_vitesse_vent|
+------+---------+---------------+------------+------------+----------------+
|  2018|       22|             22|          62|      101665|               2|
|  2012|       39|             16|          63|      100922|               5|
|  2012|       24|             17|          66|      101374|               4|
|  2015|       19|             16|          58|      101592|               5|
|  2011|       42|             12|          65|      102084|               3|
|  2014|       23|             20|          60|      101388|               3|
|  2016|       24|             17|          69|      100925|               3|
|  2012|       10|              9|          66|      103107|               4|
|  2018|       38|             22|          57|      101751|               6|
|  2017|       20|             21|          48|      102042|               3|
|  2011|       32|             20|          58|      101605|               5|
|  2018|       14|             15|          54|      100717|               5|
|  2012|       49|              4|          85|      101360|               3|
|  2017|       38|             17|          60|      102072|               2|
|  2016|       33|             24|          55|      101454|               4|
|  2010|       12|             13|          72|      101178|               3|
|  2014|       50|              6|          87|      101781|               3|
|  2016|       14|             13|          57|      100998|               5|
|  2010|        7|              4|          78|       99924|               3|
|  2010|       28|             22|          60|      101607|               5|
+------+---------+---------------+------------+------------+----------------+
only showing top 20 rows

# Import des données Grippe

In [20]:
df_grippe = spark.sql("SELECT * FROM incidence_REG")
df_grippe.show()

+------+---------+----+-------+------+------+----------+---------+---------+--------------------+
|  week|indicator| inc|inc_low|inc_up|inc100|inc100_low|inc100_up|geo_insee|            geo_name|
+------+---------+----+-------+------+------+----------+---------+---------+--------------------+
|201847|        3| 706|      0|  1619|    37|         0|       85|       42|              ALSACE|
|201847|        3| 469|      0|  1220|    14|         0|       36|       72|           AQUITAINE|
|201847|        3|  79|      0|   234|     6|         0|       17|       83|            AUVERGNE|
|201847|        3| 420|      0|   942|    28|         0|       62|       25|     BASSE-NORMANDIE|
|201847|        3|   0|      0|     0|     0|         0|        0|       26|           BOURGOGNE|
|201847|        3| 863|      0|  1877|    25|         0|       55|       53|            BRETAGNE|
|201847|        3| 698|      1|  1395|    26|         0|       52|       24|              CENTRE|
|201847|        3| 211|      0|   516|    15|         0|       37|       21|   CHAMPAGNE-ARDENNE|
|201847|        3|  60|      0|   154|    18|         0|       46|       94|               CORSE|
|201847|        3|   0|      0|     0|     0|         0|        0|       43|       FRANCHE-COMTE|
|201847|        3| 229|      0|   577|    12|         0|       30|       23|     HAUTE-NORMANDIE|
|201847|        3| 814|     12|  1616|    29|         1|       57|       91|LANGUEDOC-ROUSSILLON|
|201847|        3|   0|      0|     0|     0|         0|        0|       74|            LIMOUSIN|
|201847|        3|1589|     75|  3103|    66|         3|      129|       41|            LORRAINE|
|201847|        3|  70|      0|   343|     2|         0|       11|       73|       MIDI-PYRENEES|
|201847|        3| 843|      0|  2045|    20|         0|       49|       31|  NORD-PAS-DE-CALAIS|
|201847|        3|1268|      0|  2828|    33|         0|       74|       52|    PAYS-DE-LA-LOIRE|
|201847|        3| 265|      0|   826|    13|         0|       41|       22|            PICARDIE|
|201847|        3|  71|      0|   410|     4|         0|       22|       54|    POITOU-CHARENTES|
|201847|        3|1503|      0|  3218|    30|         0|       64|       93|PROVENCE-ALPES-CO...|
+------+---------+----+-------+------+------+----------+---------+---------+--------------------+
only showing top 20 rows

In [21]:
#Filtre ILE-DE-FRANCE
df_grippe = df_grippe.filter("geo_name == 'ILE-DE-FRANCE' ")
df_grippe.show()

+------+---------+----+-------+------+------+----------+---------+---------+-------------+
|  week|indicator| inc|inc_low|inc_up|inc100|inc100_low|inc100_up|geo_insee|     geo_name|
+------+---------+----+-------+------+------+----------+---------+---------+-------------+
|201847|        3|3333|    891|  5775|    27|         7|       47|       11|ILE-DE-FRANCE|
|201846|        3|1320|      0|  2759|    11|         0|       23|       11|ILE-DE-FRANCE|
|201845|        3| 830|      0|  1826|     7|         0|       15|       11|ILE-DE-FRANCE|
|201844|        3| 710|      0|  1694|     6|         0|       14|       11|ILE-DE-FRANCE|
|201843|        3| 583|      0|  1322|     5|         0|       11|       11|ILE-DE-FRANCE|
|201842|        3| 665|      0|  1430|     5|         0|       11|       11|ILE-DE-FRANCE|
|201841|        3|1695|     30|  3360|    14|         0|       28|       11|ILE-DE-FRANCE|
|201840|        3|1221|      0|  2592|    10|         0|       21|       11|ILE-DE-FRANCE|
|201839|        3| 223|      0|   901|     2|         0|        8|       11|ILE-DE-FRANCE|
|201838|        3| 744|      0|  1753|     6|         0|       14|       11|ILE-DE-FRANCE|
|201837|        3| 646|      0|  1381|     5|         0|       11|       11|ILE-DE-FRANCE|
|201836|        3|  67|      0|   252|     1|         0|        3|       11|ILE-DE-FRANCE|
|201835|        3|   0|      0|     0|     0|         0|        0|       11|ILE-DE-FRANCE|
|201834|        3|   0|      0|     0|     0|         0|        0|       11|ILE-DE-FRANCE|
|201833|        3|   0|      0|     0|     0|         0|        0|       11|ILE-DE-FRANCE|
|201832|        3|   0|      0|     0|     0|         0|        0|       11|ILE-DE-FRANCE|
|201831|        3| 245|      0|   640|     2|         0|        5|       11|ILE-DE-FRANCE|
|201830|        3| 272|      0|   806|     2|         0|        6|       11|ILE-DE-FRANCE|
|201829|        3| 425|      0|  1005|     3|         0|        8|       11|ILE-DE-FRANCE|
|201828|        3| 301|      0|   812|     2|         0|        6|       11|ILE-DE-FRANCE|
+------+---------+----+-------+------+------+----------+---------+---------+-------------+
only showing top 20 rows

In [22]:
#Cast "week" en string
df_grippe = df_grippe.withColumn("week", df_grippe["week"].cast("string"))

#Split Annee et n° Semaine
df_grippe = df_grippe.withColumn("year_g", df_grippe.week.substr(1, 4))
df_grippe = df_grippe.withColumn("isoweek_g", df_grippe.week.substr(5, 7))

df_grippe.show()

+------+---------+----+-------+------+------+----------+---------+---------+-------------+------+---------+
|  week|indicator| inc|inc_low|inc_up|inc100|inc100_low|inc100_up|geo_insee|     geo_name|year_g|isoweek_g|
+------+---------+----+-------+------+------+----------+---------+---------+-------------+------+---------+
|201847|        3|3333|    891|  5775|    27|         7|       47|       11|ILE-DE-FRANCE|  2018|       47|
|201846|        3|1320|      0|  2759|    11|         0|       23|       11|ILE-DE-FRANCE|  2018|       46|
|201845|        3| 830|      0|  1826|     7|         0|       15|       11|ILE-DE-FRANCE|  2018|       45|
|201844|        3| 710|      0|  1694|     6|         0|       14|       11|ILE-DE-FRANCE|  2018|       44|
|201843|        3| 583|      0|  1322|     5|         0|       11|       11|ILE-DE-FRANCE|  2018|       43|
|201842|        3| 665|      0|  1430|     5|         0|       11|       11|ILE-DE-FRANCE|  2018|       42|
|201841|        3|1695|     30|  3360|    14|         0|       28|       11|ILE-DE-FRANCE|  2018|       41|
|201840|        3|1221|      0|  2592|    10|         0|       21|       11|ILE-DE-FRANCE|  2018|       40|
|201839|        3| 223|      0|   901|     2|         0|        8|       11|ILE-DE-FRANCE|  2018|       39|
|201838|        3| 744|      0|  1753|     6|         0|       14|       11|ILE-DE-FRANCE|  2018|       38|
|201837|        3| 646|      0|  1381|     5|         0|       11|       11|ILE-DE-FRANCE|  2018|       37|
|201836|        3|  67|      0|   252|     1|         0|        3|       11|ILE-DE-FRANCE|  2018|       36|
|201835|        3|   0|      0|     0|     0|         0|        0|       11|ILE-DE-FRANCE|  2018|       35|
|201834|        3|   0|      0|     0|     0|         0|        0|       11|ILE-DE-FRANCE|  2018|       34|
|201833|        3|   0|      0|     0|     0|         0|        0|       11|ILE-DE-FRANCE|  2018|       33|
|201832|        3|   0|      0|     0|     0|         0|        0|       11|ILE-DE-FRANCE|  2018|       32|
|201831|        3| 245|      0|   640|     2|         0|        5|       11|ILE-DE-FRANCE|  2018|       31|
|201830|        3| 272|      0|   806|     2|         0|        6|       11|ILE-DE-FRANCE|  2018|       30|
|201829|        3| 425|      0|  1005|     3|         0|        8|       11|ILE-DE-FRANCE|  2018|       29|
|201828|        3| 301|      0|   812|     2|         0|        6|       11|ILE-DE-FRANCE|  2018|       28|
+------+---------+----+-------+------+------+----------+---------+---------+-------------+------+---------+
only showing top 20 rows

In [23]:
import datetime #installer le package via le terminal
from pyspark.sql.types import *
from pyspark.sql.functions import lit

#Cast "week" en string
df_grippe = df_grippe.withColumn("year_g", df_grippe["year_g"].cast("integer"))
df_grippe = df_grippe.withColumn("isoweek_g", df_grippe["isoweek_g"].cast("integer"))


#isoweek to date (en considérant le dimanche)
def iso_to_gregorian(iso_year, iso_week, iso_day):
    jan4 = datetime.date(iso_year, 1, 4)
    start = jan4 - datetime.timedelta(days=jan4.isoweekday()-1)
    return str(start + datetime.timedelta(weeks=iso_week-1, days=iso_day-1))

udf_fct = f.udf(iso_to_gregorian, StringType())
df_grippe = df_grippe.withColumn('date', udf_fct(df_grippe.year_g,df_grippe.isoweek_g,lit(7)))

In [24]:
df_grippe_final=df_grippe.select("year_g", "isoweek_g", "date", "inc", "inc_low", "inc_up", "inc100", "inc100_low", "inc100_up")
df_grippe_final.show()

+------+---------+----------+----+-------+------+------+----------+---------+
|year_g|isoweek_g|      date| inc|inc_low|inc_up|inc100|inc100_low|inc100_up|
+------+---------+----------+----+-------+------+------+----------+---------+
|  2018|       47|2018-11-25|3333|    891|  5775|    27|         7|       47|
|  2018|       46|2018-11-18|1320|      0|  2759|    11|         0|       23|
|  2018|       45|2018-11-11| 830|      0|  1826|     7|         0|       15|
|  2018|       44|2018-11-04| 710|      0|  1694|     6|         0|       14|
|  2018|       43|2018-10-28| 583|      0|  1322|     5|         0|       11|
|  2018|       42|2018-10-21| 665|      0|  1430|     5|         0|       11|
|  2018|       41|2018-10-14|1695|     30|  3360|    14|         0|       28|
|  2018|       40|2018-10-07|1221|      0|  2592|    10|         0|       21|
|  2018|       39|2018-09-30| 223|      0|   901|     2|         0|        8|
|  2018|       38|2018-09-23| 744|      0|  1753|     6|         0|       14|
|  2018|       37|2018-09-16| 646|      0|  1381|     5|         0|       11|
|  2018|       36|2018-09-09|  67|      0|   252|     1|         0|        3|
|  2018|       35|2018-09-02|   0|      0|     0|     0|         0|        0|
|  2018|       34|2018-08-26|   0|      0|     0|     0|         0|        0|
|  2018|       33|2018-08-19|   0|      0|     0|     0|         0|        0|
|  2018|       32|2018-08-12|   0|      0|     0|     0|         0|        0|
|  2018|       31|2018-08-05| 245|      0|   640|     2|         0|        5|
|  2018|       30|2018-07-29| 272|      0|   806|     2|         0|        6|
|  2018|       29|2018-07-22| 425|      0|  1005|     3|         0|        8|
|  2018|       28|2018-07-15| 301|      0|   812|     2|         0|        6|
+------+---------+----------+----+-------+------+------+----------+---------+
only showing top 20 rows

In [25]:
df_grippe_final.printSchema()

root
 |-- year_g: integer (nullable = true)
 |-- isoweek_g: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- inc: integer (nullable = true)
 |-- inc_low: integer (nullable = true)
 |-- inc_up: integer (nullable = true)
 |-- inc100: integer (nullable = true)
 |-- inc100_low: integer (nullable = true)
 |-- inc100_up: integer (nullable = true)

# Import des vacances scolaires

In [26]:
# File location and type
file_location = "hdfs://172.17.0.2:8020/user/cloudera/Projet_Grippe/vacances_scolaire.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","


# The applied options are for CSV files. For other file types, these will be ignored.
df_vac = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

# Permanent table creation

permanent_table_name = "vacances"
df_vac.write.format("parquet").saveAsTable(permanent_table_name)
df_vac.printSchema()

#Suppression des colonnes inutiles

df_vac = df_vac.drop('vacances_zone_a', 'vacances_zone_b', 'nom_vacances')

#Cast de la date en string

df_vac = df_vac.withColumn("date", df_vac["date"].cast("string"))

#Recuperation de la date et suppression des heures

split_col_date = f.split(df_vac['date'], ' ')
df_vac=df_vac.withColumn("f_date", split_col_date.getItem(0))
df_vac = df_vac.drop('date')
df_vac=df_vac.withColumnRenamed("f_date", 'date_v')
df_vac = df_vac.select('date_v','vacances_zone_c')

df_vac.show()

root
 |-- date: timestamp (nullable = true)
 |-- vacances_zone_a: boolean (nullable = true)
 |-- vacances_zone_b: boolean (nullable = true)
 |-- vacances_zone_c: boolean (nullable = true)
 |-- nom_vacances: string (nullable = true)

+----------+---------------+
|    date_v|vacances_zone_c|
+----------+---------------+
|2008-01-01|          false|
|2008-01-02|          false|
|2008-01-03|          false|
|2008-01-04|          false|
|2008-01-05|          false|
|2008-01-06|          false|
|2008-01-07|          false|
|2008-01-08|          false|
|2008-01-09|          false|
|2008-01-10|          false|
|2008-01-11|          false|
|2008-01-12|          false|
|2008-01-13|          false|
|2008-01-14|          false|
|2008-01-15|          false|
|2008-01-16|          false|
|2008-01-17|          false|
|2008-01-18|          false|
|2008-01-19|          false|
|2008-01-20|          false|
+----------+---------------+
only showing top 20 rows

# Croisement des données

In [27]:
#Jointure meteo - grippe
df_final = df_meteo_final.join(df_grippe_final, (df_meteo_final.year_m== df_grippe_final.year_g) & (df_meteo_final.isoweek_m== df_grippe_final.isoweek_g))

df_final.show()

+------+---------+---------------+------------+------------+----------------+------+---------+----------+-----+-------+------+------+----------+---------+
|year_m|isoweek_m|avg_temperature|avg_humidite|avg_pression|avg_vitesse_vent|year_g|isoweek_g|      date|  inc|inc_low|inc_up|inc100|inc100_low|inc100_up|
+------+---------+---------------+------------+------------+----------------+------+---------+----------+-----+-------+------+------+----------+---------+
|  2018|       22|             22|          62|      101665|               2|  2018|       22|2018-06-03|  323|      0|   738|     3|         0|        6|
|  2012|       39|             16|          63|      100922|               5|  2012|       39|2012-09-30|  644|      0|  1304|     5|         0|       11|
|  2012|       24|             17|          66|      101374|               4|  2012|       24|2012-06-17|   54|      0|   312|     0|         0|        2|
|  2015|       19|             16|          58|      101592|               5|  2015|       19|2015-05-10| 2258|      0|  4820|    19|         0|       40|
|  2011|       42|             12|          65|      102084|               3|  2011|       42|2011-10-23| 2003|     67|  3939|    17|         1|       33|
|  2014|       23|             20|          60|      101388|               3|  2014|       23|2014-06-08|    0|      0|     0|     0|         0|        0|
|  2016|       24|             17|          69|      100925|               3|  2016|       24|2016-06-19| 1844|      0|  4069|    15|         0|       33|
|  2012|       10|              9|          66|      103107|               4|  2012|       10|2012-03-11|16045|  10704| 21386|   136|        91|      181|
|  2018|       38|             22|          57|      101751|               6|  2018|       38|2018-09-23|  744|      0|  1753|     6|         0|       14|
|  2017|       20|             21|          48|      102042|               3|  2017|       20|2017-05-21|  753|      0|  2000|     6|         0|       16|
|  2011|       32|             20|          58|      101605|               5|  2011|       32|2011-08-14| 1291|      0|  2736|    11|         0|       23|
|  2018|       14|             15|          54|      100717|               5|  2018|       14|2018-04-08| 6457|   3520|  9394|    53|        29|       77|
|  2012|       49|              4|          85|      101360|               3|  2012|       49|2012-12-09| 7999|   4514| 11484|    68|        38|       98|
|  2017|       38|             17|          60|      102072|               2|  2017|       38|2017-09-24| 1065|      0|  2541|     9|         0|       21|
|  2016|       33|             24|          55|      101454|               4|  2016|       33|2016-08-21|  109|      0|   380|     1|         0|        3|
|  2010|       12|             13|          72|      101178|               3|  2010|       12|2010-03-28|  337|      0|  1029|     3|         0|        9|
|  2014|       50|              6|          87|      101781|               3|  2014|       50|2014-12-14|12810|   7710| 17910|   107|        64|      150|
|  2016|       14|             13|          57|      100998|               5|  2016|       14|2016-04-10|17132|  11341| 22923|   141|        93|      189|
|  2010|        7|              4|          78|       99924|               3|  2010|        7|2010-02-21| 2646|    953|  4339|    23|         8|       38|
|  2010|       28|             22|          60|      101607|               5|  2010|       28|2010-07-18|   63|      0|   310|     1|         0|        3|
+------+---------+---------------+------------+------------+----------------+------+---------+----------+-----+-------+------+------+----------+---------+
only showing top 20 rows

In [28]:
#Création colonne id et cast en integer
from pyspark.sql.functions import concat, col
df_final = df_final.withColumn("id", concat(col("year_m"), col("isoweek_m")) )
df_final = df_final.withColumn("id", df_final["id"].cast("integer"))


df_final=df_final.select("id", "year_m", "isoweek_m","date" ,"avg_temperature", "avg_humidite", "avg_pression", "avg_vitesse_vent", "inc", "inc_low", "inc_up", "inc100", "inc100_low", "inc100_up" )

df_final.show()

+------+------+---------+----------+---------------+------------+------------+----------------+-----+-------+------+------+----------+---------+
|    id|year_m|isoweek_m|      date|avg_temperature|avg_humidite|avg_pression|avg_vitesse_vent|  inc|inc_low|inc_up|inc100|inc100_low|inc100_up|
+------+------+---------+----------+---------------+------------+------------+----------------+-----+-------+------+------+----------+---------+
|201822|  2018|       22|2018-06-03|             22|          62|      101665|               2|  323|      0|   738|     3|         0|        6|
|201239|  2012|       39|2012-09-30|             16|          63|      100922|               5|  644|      0|  1304|     5|         0|       11|
|201224|  2012|       24|2012-06-17|             17|          66|      101374|               4|   54|      0|   312|     0|         0|        2|
|201519|  2015|       19|2015-05-10|             16|          58|      101592|               5| 2258|      0|  4820|    19|         0|       40|
|201142|  2011|       42|2011-10-23|             12|          65|      102084|               3| 2003|     67|  3939|    17|         1|       33|
|201423|  2014|       23|2014-06-08|             20|          60|      101388|               3|    0|      0|     0|     0|         0|        0|
|201624|  2016|       24|2016-06-19|             17|          69|      100925|               3| 1844|      0|  4069|    15|         0|       33|
|201210|  2012|       10|2012-03-11|              9|          66|      103107|               4|16045|  10704| 21386|   136|        91|      181|
|201838|  2018|       38|2018-09-23|             22|          57|      101751|               6|  744|      0|  1753|     6|         0|       14|
|201720|  2017|       20|2017-05-21|             21|          48|      102042|               3|  753|      0|  2000|     6|         0|       16|
|201132|  2011|       32|2011-08-14|             20|          58|      101605|               5| 1291|      0|  2736|    11|         0|       23|
|201814|  2018|       14|2018-04-08|             15|          54|      100717|               5| 6457|   3520|  9394|    53|        29|       77|
|201249|  2012|       49|2012-12-09|              4|          85|      101360|               3| 7999|   4514| 11484|    68|        38|       98|
|201738|  2017|       38|2017-09-24|             17|          60|      102072|               2| 1065|      0|  2541|     9|         0|       21|
|201633|  2016|       33|2016-08-21|             24|          55|      101454|               4|  109|      0|   380|     1|         0|        3|
|201012|  2010|       12|2010-03-28|             13|          72|      101178|               3|  337|      0|  1029|     3|         0|        9|
|201450|  2014|       50|2014-12-14|              6|          87|      101781|               3|12810|   7710| 17910|   107|        64|      150|
|201614|  2016|       14|2016-04-10|             13|          57|      100998|               5|17132|  11341| 22923|   141|        93|      189|
| 20107|  2010|        7|2010-02-21|              4|          78|       99924|               3| 2646|    953|  4339|    23|         8|       38|
|201028|  2010|       28|2010-07-18|             22|          60|      101607|               5|   63|      0|   310|     1|         0|        3|
+------+------+---------+----------+---------------+------------+------------+----------------+-----+-------+------+------+----------+---------+
only showing top 20 rows

In [29]:
#Jointure vacances scolaires avec meteo_grippe

df_grippe_meteo_vac = df_final.join(df_vac, df_final.date == df_vac.date_v)
df_grippe_meteo_vac.show()

+------+------+---------+----------+---------------+------------+------------+----------------+-----+-------+------+------+----------+---------+----------+---------------+
|    id|year_m|isoweek_m|      date|avg_temperature|avg_humidite|avg_pression|avg_vitesse_vent|  inc|inc_low|inc_up|inc100|inc100_low|inc100_up|    date_v|vacances_zone_c|
+------+------+---------+----------+---------------+------------+------------+----------------+-----+-------+------+------+----------+---------+----------+---------------+
|201822|  2018|       22|2018-06-03|             22|          62|      101665|               2|  323|      0|   738|     3|         0|        6|2018-06-03|          false|
|201239|  2012|       39|2012-09-30|             16|          63|      100922|               5|  644|      0|  1304|     5|         0|       11|2012-09-30|          false|
|201224|  2012|       24|2012-06-17|             17|          66|      101374|               4|   54|      0|   312|     0|         0|        2|2012-06-17|          false|
|201519|  2015|       19|2015-05-10|             16|          58|      101592|               5| 2258|      0|  4820|    19|         0|       40|2015-05-10|          false|
|201142|  2011|       42|2011-10-23|             12|          65|      102084|               3| 2003|     67|  3939|    17|         1|       33|2011-10-23|           true|
|201423|  2014|       23|2014-06-08|             20|          60|      101388|               3|    0|      0|     0|     0|         0|        0|2014-06-08|          false|
|201624|  2016|       24|2016-06-19|             17|          69|      100925|               3| 1844|      0|  4069|    15|         0|       33|2016-06-19|          false|
|201210|  2012|       10|2012-03-11|              9|          66|      103107|               4|16045|  10704| 21386|   136|        91|      181|2012-03-11|          false|
|201838|  2018|       38|2018-09-23|             22|          57|      101751|               6|  744|      0|  1753|     6|         0|       14|2018-09-23|          false|
|201720|  2017|       20|2017-05-21|             21|          48|      102042|               3|  753|      0|  2000|     6|         0|       16|2017-05-21|          false|
|201132|  2011|       32|2011-08-14|             20|          58|      101605|               5| 1291|      0|  2736|    11|         0|       23|2011-08-14|           true|
|201814|  2018|       14|2018-04-08|             15|          54|      100717|               5| 6457|   3520|  9394|    53|        29|       77|2018-04-08|          false|
|201249|  2012|       49|2012-12-09|              4|          85|      101360|               3| 7999|   4514| 11484|    68|        38|       98|2012-12-09|          false|
|201738|  2017|       38|2017-09-24|             17|          60|      102072|               2| 1065|      0|  2541|     9|         0|       21|2017-09-24|          false|
|201633|  2016|       33|2016-08-21|             24|          55|      101454|               4|  109|      0|   380|     1|         0|        3|2016-08-21|           true|
|201012|  2010|       12|2010-03-28|             13|          72|      101178|               3|  337|      0|  1029|     3|         0|        9|2010-03-28|          false|
|201450|  2014|       50|2014-12-14|              6|          87|      101781|               3|12810|   7710| 17910|   107|        64|      150|2014-12-14|          false|
|201614|  2016|       14|2016-04-10|             13|          57|      100998|               5|17132|  11341| 22923|   141|        93|      189|2016-04-10|          false|
| 20107|  2010|        7|2010-02-21|              4|          78|       99924|               3| 2646|    953|  4339|    23|         8|       38|2010-02-21|           true|
|201028|  2010|       28|2010-07-18|             22|          60|      101607|               5|   63|      0|   310|     1|         0|        3|2010-07-18|           true|
+------+------+---------+----------+---------------+------------+------------+----------------+-----+-------+------+------+----------+---------+----------+---------------+
only showing top 20 rows

In [30]:
df_grippe_meteo_vac = df_grippe_meteo_vac.drop('date_v')
df_grippe_meteo_vac.printSchema()

root
 |-- id: integer (nullable = true)
 |-- year_m: integer (nullable = true)
 |-- isoweek_m: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- avg_temperature: integer (nullable = true)
 |-- avg_humidite: integer (nullable = true)
 |-- avg_pression: integer (nullable = true)
 |-- avg_vitesse_vent: integer (nullable = true)
 |-- inc: integer (nullable = true)
 |-- inc_low: integer (nullable = true)
 |-- inc_up: integer (nullable = true)
 |-- inc100: integer (nullable = true)
 |-- inc100_low: integer (nullable = true)
 |-- inc100_up: integer (nullable = true)
 |-- vacances_zone_c: boolean (nullable = true)

# Export vers ElasticSearch

In [ ]:
import pandas as pd
pandas_grippe_meteo = df_grippe_meteo_vac.toPandas()
pandas_grippe_meteo.to_json(orient='records',path_or_buf = "grippe_meteo_vac.json")
pandas_grippe_meteo.to_csv(path_or_buf = "bokeh/grippe_meteo_vac.csv")

In [ ]:
import elasticsearch
from elasticsearch import helpers
es = elasticsearch.Elasticsearch(['172.17.0.4'],http_auth=('elastic', 'secret'), scheme="http", port=9200)

In [ ]:
# import data from pandas dataframe into elastic

import json
tmp = pandas_grippe_meteo.to_json(orient='records')
df_json= json.loads(tmp)
for doc in df_json:
    es.index(index="test", doc_type="grippe_meteo",body=doc)

# Stockage sur Cassandra

In [31]:
 df_grippe_meteo_vac.write\
    .format("org.apache.spark.sql.cassandra")\
    .mode('append')\
    .options(table="grippe_meteo_vac", keyspace="smart_data")\
    .save()